<app-logout></app-logout>

<div class="container mt-5">
  <div class="alert alert-warning" role="alert">
    Page with private data
  </div>
  <div class="jumbotron">
    <h1>Profile</h1>
    <ul>
      <li><strong>Email:</strong> {{ user?.email }}</li>

    </ul>
  </div>
  <h3>Job List</h3>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company Name</th>
      <th scope="col">Department</th>
      <th scope="col">Title</th>
      <th scope="col">EIN</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

