

        <form [formGroup]="form" (ngSubmit)="onSubmit()"  fxLayout="column">


      <mat-form-field appearance="fill">
        <mat-label>Token</mat-label>
        <input matInput type="text"  formControlName="token" [(ngModel)]="token" class="form-control"   />
      </mat-form-field>


      <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" [(ngModel)]="data.password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors?.required"> Password is required</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password Confirm</mat-label>
      <input matInput type="password" formControlName="passwordConfirm" [(ngModel)]="data.passwordConfirm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.passwordConfirm.errors?.required"> passwordConfirm is required</div>
      </div>
    </mat-form-field>
  <button type="submit"  >send</button>
  </form>



