<h1 mat-dialog-title>Add Trush Form</h1>
<div mat-dialog-content>
  <form [formGroup]="trashForm" (ngSubmit)="addTrash()" >
    <label for=""><h1>Location</h1></label>
    <mat-form-field appearance="outline">
      <mat-label>id</mat-label>
      <input formControlName="_id" matInput placeholder="_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f._id.errors }">
    </mat-form-field>
    <mat-error *ngIf="submitted && f._id.errors" class="alerte alerte-danger">
      <span *ngIf="f._id.errors.required ">id is required</span> 
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Longitude</mat-label>
      <input formControlName="longitude" matInput placeholder="longitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }">
    </mat-form-field>
    <mat-error *ngIf="submitted && f.longitude.errors" class="alerte alerte-danger">
      <span *ngIf="f.longitude.errors.required ">longitude is required</span> 
    </mat-error>

    <mat-form-field appearance="outline">
      <mat-label>Latitude</mat-label>
      <input formControlName="latitude" matInput placeholder="latitude"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }">
    </mat-form-field>
    <mat-error *ngIf="submitted && f.latitude.errors" class="alerte alerte-danger">
      <span *ngIf="f.latitude.errors.required ">latitude is required</span> 
    </mat-error>

    <label for=""><h1>Size</h1></label>
    <mat-radio-group formControlName="size"  class="example-radio-group" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.size.errors }">
      <mat-radio-button class="example-radio-button" *ngFor="let size of trashList" [value]="size">
        {{size}}

      </mat-radio-button>
      <mat-error *ngIf="submitted && f.size.errors" class="alerte alerte-danger">
        <span *ngIf="f.size.errors.required ">size is required</span> 
      </mat-error>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="submitted && f.date.errors" class="alerte alerte-danger">
      <span *ngIf="f.date.errors.required ">date is required</span> 
    </mat-error>

  </form>

</div>

<div mat-dialog-actions [align]="'end'" >
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addTrash()">{{actionBtnTrash}}</button>
</div>



<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.min.js"></script>-->
<!--        <script>-->
<!--            const createGeoJSON = () => {-->
<!--        const data = [-->
<!--            {-->
<!--                lat: document.getElementById("latitude").value,-->
<!--                lng: document.getElementById("longitude").value-->
<!--            }-->
<!--        ];-->
<!--        data[0][document.getElementById("propertyname1").value] = document.getElementById("propertyvalue1").value;-->
<!--        data[0][document.getElementById("propertyname2").value] = document.getElementById("propertyvalue2").value;-->
<!--        const dataGeoJSON = GeoJSON.parse(data, { Point: ["lat", "lng"] });-->
<!--        document.getElementById("output").value = JSON.stringify(dataGeoJSON, null, 4);-->
<!--    }-->
<!--    createGeoJSON();-->
<!--        </script>-->
