h2 {
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
  }
  button,
.button {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.8125rem 2.1875rem;
  border-radius: 3.125rem;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
}

button::after,
.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

button:hover::after,
.button:hover::after {
  opacity: 1;
}
h1 {
  font-size: 2.25rem;
  margin-bottom: 2.25rem;
  font-weight: 500;
}


