<h1 mat-dialog-title>Add Client Form</h1>
<div mat-dialog-content>
      <form [formGroup]="clientForm" >

        <mat-form-field appearance="outline">
            <mat-label>CIN</mat-label>
            <input formControlName="clientCIN" matInput placeholder="CIN">
          </mat-form-field>
  

        <mat-form-field appearance="outline">
          <mat-label>Name&LastName</mat-label>
          <input formControlName="clientName" matInput placeholder="Name&LastName">
        </mat-form-field>

        
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="clientEmail" matInput placeholder="Email">
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="clientAddress" matInput placeholder="Address">
          </mat-form-field>


        <label for=""><h1>client_trushSize</h1></label>
        <mat-radio-group formControlName="client_trushSize"  class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let trash of trushSize" [value]="trash">
            {{trash}}

          </mat-radio-button>
        </mat-radio-group>


        <mat-form-field appearance="outline">
            <mat-label>clientType</mat-label>
            <input formControlName="clientType" matInput placeholder="clientType">
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>trash_id</mat-label>
            <input formControlName="client_trash_id" matInput placeholder="client_trash_id">
          </mat-form-field>  

        

        


      </form>


</div>

<div mat-dialog-actions [align]="'end'" >
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addClient()">{{actionBtn}}</button>
</div>

