<h1 mat-dialog-title>Add Employee Form</h1>
<div mat-dialog-content>
      <form [formGroup]="productForm"  (ngSubmit)="addProduct()">
     
       

        <mat-form-field appearance="outline"> 
          <mat-label>Name&LastName</mat-label>
          <input formControlName="employeeName" matInput class="form-control" placeholder="Full Name"
            [ngClass]="{ 'is-invalid': submitted && f.employeeName.errors }">
        
        
        </mat-form-field>
        <mat-error *ngIf="submitted && f.employeeName.errors" class="invalid-feedback">
          <div *ngIf="f.employeeName.errors.required">First Name is required</div>
        </mat-error>
       



       
        <mat-form-field appearance="outline">
          <mat-label>CIN</mat-label>
        <input formControlName="employeeCIN" matInput class="form-control" placeholder="CIN"  [ngClass]="{ 'is-invalid': submitted && f.employeeCIN.errors }">

        </mat-form-field>
        <mat-error *ngIf="submitted && f.employeeCIN.errors" class="invalid-feedback">
          <div *ngIf="f.employeeCIN.errors.required ">Cin is required</div>
          <div *ngIf="f.employeeCIN.errors.minLength || f.employeeCIN.errors.maxLength || f.employeeCIN.errors.pattern">Cin must be at least 8 number</div>
          
        </mat-error>

        

      






        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="employeeEmail" matInput  class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.employeeEmail.errors }">

        </mat-form-field>
        <mat-error *ngIf="submitted && f.employeeEmail.errors" class="invalid-feedback">
          <div *ngIf="f.employeeEmail.errors.required ">Cin is required</div>
          <div *ngIf="f.employeeEmail.errors.email">Email must be a valid email address</div>
          
        </mat-error>


        <label for=""><h1>Job</h1></label>
        <mat-radio-group formControlName="employeeJob"  class="example-radio-group" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.employeeJob.errors }" >
          <mat-radio-button class="example-radio-button" *ngFor="let job of jobList" [value]="job">
            {{job}}

          </mat-radio-button>

          

        </mat-radio-group>
        <mat-error *ngIf="submitted && f.employeeJob.errors" class="invalid-feedback">
          <div *ngIf="f.employeeJob.errors.required ">job is required</div>
          
          
        </mat-error>
        <br>

        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input formControlName="date" matInput [matDatepicker]="picker" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
        </mat-form-field>
        <br>
          <mat-error *ngIf="submitted && f.date.errors" class="invalid-feedback">
            <div *ngIf="f.date.errors.required ">date is required</div>
            
          </mat-error>

        <mat-form-field appearance="outline" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.employeeSalary.errors }">
          <mat-label>Salary</mat-label>
          <input formControlName="employeeSalary" matInput type="number" placeholder="Salary">
          
          
        </mat-form-field>
        
        <mat-error *ngIf="submitted && f.employeeSalary.errors" class="invalid-feedback">
          <div *ngIf="f.employeeSalary.errors.required ">salary is required</div>
          
        </mat-error>


      </form>


</div>

<div mat-dialog-actions [align]="'end'" >
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>
